.ui.borderless.topmenu.menu {
    box-shadow: none;

}

.calendar.large.icon {
    margin-top: 5px;
    margin-left: 5px;
}

.ui.header {
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ui.grid {
    padding-left: 20px;
}